body
{
    font-family: helvetica, arial;
    font-size: 14px;
    color: #333333;
    padding: 30px;
    margin: 0px auto;
    width: 800px;
}

a
{
    color: #4183C4;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.header
{
    font-size: 36px;
    font-weight: bold;
    padding-top: 10px;
}

.header a
{
    color: #333333;
    text-decoration: none;
}

.header a:hover
{
    color: #4183C4;
    text-decoration: none;
}

.footer
{
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.list
{
}

.list-item
{
    border: solid 3px #E4E4E4;
    background-color: whiteSmoke;
    padding: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-bottom: 20px;
}

.list-item h3, .list-item p, .issue div, .comment div
{
    padding: 0px;
    margin: 0px;
    line-height: 1.5em;
}

.project h3
{
    white-space: nowrap;
    overflow: hidden;
    max-width: 540px;
}

.project p
{
    white-space: nowrap;
    overflow: hidden;
    max-width: 540px;
}

.issue h3
{
    white-space: nowrap;
    overflow: hidden;
    max-width: 700px;
}

.list-item h3
{
    font-size: 18px;
}

.comment-new
{
    background-color: #ffffff;
}

.comment
{
    background-color: #ffffff;
    padding-top: 3px;
}

.user-password
{
    background-color: #ffffff;
}

.counter
{
    background-color: #888;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    width: 80px;
    text-align: center;
    font-size: 9px;
    margin-left: 5px;
}

.counter big
{
    display: block;
    font-size: 26px;
    font-weight: bold;
}

.create
{
    border: solid 1px #cccccc;
    background-color: whiteSmoke;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    width: 150px;
}

.button
{
    border-bottom: 1px solid #EBEBEB;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border: none;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    color: #333;
    cursor: pointer;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    overflow: visible;
    padding: 0px;
    position: relative;
    text-shadow: white 1px 1px 0px;
    top: 1px;
    white-space: nowrap;
}

.button:hover
{
    border-bottom-color: #0770A0;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
}

.webkit .button
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E1E1E1), to(#ffffff));
    -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.webkit .button:hover
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#0770A0), to(#0CA6DD));
}

.gecko .button
{
    background: -moz-linear-gradient(center bottom, #E1E1E1 0%, #ffffff 100%);
    -moz-border-radius: 4px;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.296875);
}

.gecko .button:hover
{
    background: -moz-linear-gradient(center bottom, #0770A0 0%, #0CA6DD 100%);
}

.ie .button
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#E1E1E1', GradientType=0);
}

.ie .button:hover
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#0CA6DD', EndColorStr='#0770A0', GradientType=0);
}

.button span
{
    display: block;
    height: 34px;
    line-height: 36px;
    padding: 0px 13px;
}

.gecko .button span
{
    margin-top: -3px;
}

.minibutton
{
    border: 1px solid #D4D4D4;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    overflow: visible;
    padding: 1px 0px 0px 3px;
    text-shadow: white 1px 1px 0px;
    white-space: nowrap;
}

.minibutton:hover
{
    border-bottom-color: #2A65A0;
    border-color: #518CC6 #518CC6 #2A65A0;
    color: white;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
}

.webkit .minibutton
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E1E1E1), to(#ffffff));
}

.webkit .minibutton:hover
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#3072B3), to(#599BDC));
}

.gecko .minibutton
{
    -moz-border-radius: 3px;
    background: -moz-linear-gradient(center bottom, #E1E1E1 0%, #ffffff 100%);
}

.gecko .minibutton:hover
{
    background: -moz-linear-gradient(center bottom, #3072B3 0%, #599BDC 100%);
}

.ie .minubutton
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#E1E1E1', GradientType=0);
}

.ie .minubutton:hover
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#599BDC', EndColorStr='#3072B3', GradientType=0);
}

.minibutton span
{
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0px 9px 0px 7px;
}

.options
{
    color: #999999;
    padding-top: 10px;
}

.options .date
{
    margin-bottom: -2px;
}

.navigation
{
    font-weight: bold;
    padding: 5px 0px 25px 0px;
}

.filter-off
{
    border: 1px solid #D4D4D4;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    overflow: visible;
    padding: 2px 0px 1px 3px;
    text-shadow: white 1px 1px 0px;
    white-space: nowrap;
}

.filter-off:hover
{
    border-bottom-color: #919191;
    border-color: #919191 #919191 #919191;
    color: white;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
}

.webkit .filter-off
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E1E1E1), to(#ffffff));
}

.webkit .filter-off:hover
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#808080), to(#BABABA));
}

.gecko .filter-off
{
    -moz-border-radius: 3px;
    background: -moz-linear-gradient(center bottom, #E1E1E1 0%, #ffffff 100%);
}

.gecko .filter-off:hover
{
    background: -moz-linear-gradient(center bottom, #808080 0%, #BABABA 100%);
}

.ie .filter-off
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#E1E1E1', GradientType=0);
}

.ie .filter-off:hover
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#BABABA', EndColorStr='#808080', GradientType=0);
}

.filter-off span
{
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0px 9px 0px 7px;
    text-transform: uppercase;
}

.filter-on
{
    border: 1px solid #919191;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    overflow: visible;
    padding: 2px 0px 1px 3px;
    text-shadow: rgba(0, 0, 0, 0.296875) -1px -1px 0px;
    white-space: nowrap;
}

.filter-on:hover
{
    border-bottom-color: #D4D4D4;
    border-color: #D4D4D4 #D4D4D4 #D4D4D4;
    color: #333;
    text-decoration: none;
    text-shadow: white 1px 1px 0px;
}

.webkit .filter-on
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#808080), to(#BABABA));
}

.webkit .filter-on:hover
{
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E1E1E1), to(#ffffff));
}

.gecko .filter-on
{
    -moz-border-radius: 3px;
    background: -moz-linear-gradient(center bottom, #808080 0%, #BABABA 100%);
}

.gecko .filter-on:hover
{
    background: -moz-linear-gradient(center bottom, #E1E1E1 0%, #ffffff 100%);
}

.ie .filter-on
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#BABABA', EndColorStr='#808080', GradientType=0);
}

.ie .filter-on:hover
{
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#E1E1E1', GradientType=0);
}

.filter-on span
{
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0px 9px 0px 7px;
    text-transform: uppercase;
}

em.closed
{
    background: #999;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: white;
    font-size: 11px;
    font-style: normal;
    padding: 2px 5px;
    text-transform: uppercase;
    font-weight: bold;
}

small
{
    color: #999;
    font-size: 12px;
}

.standard_form
{
    background-color: whiteSmoke;
    border: 20px solid #e4e4e4;
    padding: 2em 2em 1em;
    margin: 0px auto;
}

#login
{
    width: 25em;
}

#login h2
{
    margin: 0px;
    padding: 0px;
}

form input.text, form input[type=text], form textarea, form input.password, form input[type=password]
{
    border: 1px solid #888;
    padding: 5px;
}

form label, form .label, label.standard
{
    color: #666;
    display: block;
    font-size: 110%;
    margin: 1em 0px 0px;
    margin-top: 1em;
}

.toolbar
{
    font-size: 12px;
}

.toolbar-menu
{
    float: right;
    margin-top: -40px;
    padding: 10px 7px 3px 5px;
    border: solid 2px #E4E4E4;
    background-color: whiteSmoke;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#login-header
{
    margin: 0px auto;
    text-align: center;
    padding-top: 100px;
}

#login-footer
{
    margin: 0px auto;
    text-align: center;
}

.wikiStyle p
{
    line-height:1.5em !important;
    margin:1em 0 !important;
}
