[submodule "js/css_browser_selector"]
	path = js/css_browser_selector
	url = git://github.com/rafaelp/css_browser_selector.git
[submodule "js/github-flavored-markdown"]
	path = js/github-flavored-markdown
	url = git://github.com/github/github-flavored-markdown.git
[submodule "git-update"]
	path = git-update
	url = git://github.com/mbmccormick/git-update.git
