[submodule "public/js/css_browser_selector"]
	path = public/js/css_browser_selector
	url = git://github.com/rafaelp/css_browser_selector.git
[submodule "public/js/github-flavored-markdown"]
	path = public/js/github-flavored-markdown
	url = git://github.com/github/github-flavored-markdown.git
[submodule "public/js/form"]
	path = public/js/form
	url = git://github.com/malsup/form.git
