body
{
    font-family: helvetica, arial;
    font-size: 14px;
    color: #333;
    padding: 30px;
    margin: 0px auto;
    width: 800px;
}

a
{
    color: #4183C4;
    text-decoration: none;
}

.header
{
    font-size: 36px;
    font-weight: bold;
}

.footer
{
    font-size: 12px;
    padding-top: 10px;
}

.content
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.list
{
}

.list-item
{
    border: solid 3px #E4E4E4;
    background-color: whiteSmoke;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.list-item h3, .list-item p
{
    padding: 0px;
    margin: 0px;
    line-height: 1.5em;
}

.list-item h3
{
    font-size: 18px;
}

.counter
{
    background-color: #888;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
    font-size: 9px;
    margin-left: 5px;
}

.counter big
{
    display: block;
    font-size: 26px;
    font-weight: bold;
}

.create
{
    border: solid 1px #cccccc;
    background-color: whiteSmoke;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}

.button
{
    -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px;
    -webkit-font-smoothing: subpixel-antialiased !important;
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#E1E1E1));
    border-bottom: 1px solid #EBEBEB;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border: none;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    color: #333;
    cursor: pointer;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    overflow: visible;
    padding: 0px;
    position: relative;
    text-shadow: white 1px 1px 0px;
    top: 1px;
    white-space: nowrap;
}

.button span
{
    display: block;
    height: 34px;
    line-height: 36px;
    padding: 0px 13px;
}
