<?php

    // database configuration
    define(Server, "yourserver.com");
    define(Username, "youruser");
    define(Password, "yourpass");
    define(Database, "yourdatabase");
    
    // application settings
    define(EmailAddress, "issues@yourserver.com");
    define(Version, "2011.01.01");
    
?>