<?php

    // database configuration
    $Server = "yourserver.com";
    $Username = "youruser";
    $Password = "yourpass";
    $Database = "yourdatabase";
    
    // application settings
    $Version = "2010.01.01";
    
?>